.visually-hidden, [data-only] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Font */

[data-size="+7"] {
  font-size: var(--size-7);
}
[data-size="+6"] {
  font-size: var(--size-6);
}
[data-size="+5"] {
  font-size: var(--size-5);
}
[data-size="+4"] {
  font-size: var(--size-4);
}
[data-size="+3"] {
  font-size: var(--size-3);
}
[data-size="+2"] {
  font-size: var(--size-2);
}
[data-size="+1"] {
  font-size: var(--size-1);
}
[data-size="0"] {
  font-size: var(--size-0);
}
[data-size="-1"] {
  font-size: var(--size--1);
}
[data-size="-2"] {
  font-size: var(--size--2);
}

/* Sizing */

[data-w-max="md"] {
  max-width: var(--md);
}

[data-w-full] {
  width: 100%;
}

/* Grid */

.G {
  display: grid;
  grid-template-columns: repeat(var(--G-column-count), minmax(0, 1fr));
}
.G.\|-\+-\| { --G-column-count: 2 }
.G.\|-\+-\+-\| { --G-column-count: 3 }
.G.\|-\+-\+-\+-\| { --G-column-count: 4 }

/* Flex row */

.X {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: var(--X-justify, center);
}
.X.-X- { --X-justify: center }
.X.\|X- { --X-justify: flex-start }
.X.-X\| { --X-justify: flex-end }
.X.\|X-X\| { --X-justify: space-between }
.X.\|-X-X-\| { --X-justify: space-around }

.X > * + * {
  margin-left: var(--X-spacing);
}
.X > *:first-child {
  margin-left: var(--X-outer);
}
.X > *:last-child {
  margin-right: var(--X-outer);
}
.X > [role="separator"] {
  margin-left: auto;
}

/* Flex column */

.Y {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.Y.-X- {
  align-items: center;
}
.Y.-Y- {
  justify-content: center;
}

.Y > * + * {
  margin-top: var(--Y-spacing);
}
.Y > * {
  margin-left: var(--X-spacing);
  margin-right: var(--X-spacing);
}

/* MEDIUM BREAKPOINT */

/* Flex column (medium) */

/* 48em ~= 768px */
@media (min-width: 48em) {
  .X\>\=48em {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
