<header role=banner>

<h1>
  <span class="color-T">T</span><span class="color-E">E</span><span class="color-L">L</span><span class="color-A">A</span>
</h1>

{% include "_primary-nav.njk" %}

</header>