<header role=banner style="background: rgba(0,0,0,0.12); --Link--padding: 0.5em; --Link--background--hover: var(--color-highlight-subtle);">

<h1>
  <a href="/">
    <span class="color-T">T</span><span class="color-E">E</span><span class="color-L">L</span><span class="color-A">A</span>
  </a>
</h1>

{% include "_primary-nav.njk" %}

</header>